<div class="psychic">
	<div class="psychic__name">{{psychicMan?.name}}</div>
	<div class="psychic-auth-row">
		<div class="psychic__authenticity_valeu">{{psychicMan?.authenticity}}</div>
		<div class="psychic__authenticity_text">Достоверность</div>
	</div>
	<div class="psychic__guesses_text">Список догадок</div>
	<div class="psychic__guesses_valeu">{{psychicMan?.guesses}}</div>
	<div class="psychic-guess-row">
		<div class="psychic__guess_valeu">{{psychicMan?.current_guess}}</div>
		<div class="psychic__guess_text">Текущая догадка</div>
	</div>
</div>